body.light {
  background-color: #fff;
  color: #000;
}

body.dark {
  background-color: #222;
  color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #888;
  padding: 5px;
  text-align: center;
}

button {
  margin: 2px;
  padding: 5px 10px;
}
